<html lang='en'>
  <head>
    <link rel="icon" href="/img/weather.png">
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Weather</title>
    <link rel='stylesheet' href='css/styles.css' />
  <script src="js/app.js" defer></script>
  </head>
  <body>
    <div class = "main-content">
    {{>header}}

    <p>{{description}}</p>

    <form>
      <input placeholder="Location" class="input">
      <button class="btn">Search</button>
    </form>
    <p class="response"></p>

    </div>

    {{>footer}}
  </body>
</html>